// hide leaflet copy right
.leaflet-container .leaflet-control-attribution{
      display: none !important;
  visibility: hidden  !important;
  width: 0px !important;
  height: 0px !important;
}

// back home button

.back-to-home {
  width: 34px;
  height: 34px;
  z-index: 999;
  cursor: pointer;
  padding: 5px;
  display: none;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 65%);
}

.show-button-home .back-to-home {
  display: block;
  margin-left: 10px;
}


// fix z-index of top left buttons llike layer to be in top of search bar its opened in mobile devices

.leaflet-top .leaflet-right{
      z-index: 1001;
}


// fix text doesnt shown completly (input search bar)  in mobile devices
.leaflet-control-geosearch.leaflet-geosearch-bar{
  input.glass {
padding-inline: 1rem !important;
  }
}


// change search input result text color
.results.active{
  color : cadetblue !important;
}
