#diagram_control .chart-title {
	font-size: 16px;
}

#daterangepicker.e-control.e-daterangepicker.e-input {
	color: var(--joy-palette-primary-900) !important;
}

.e-date-range-wrapper .e-input-group-icon.e-range-icon.e-icons {
	color: var(--joy-palette-primary-900) !important;
}

#diagram_control .chart-title,
#diagram_control .chart-subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	color: var(--joy-palette-primary-900) !important;
	letter-spacing: 0.02em;
}

.chart-value {
	color: var(--joy-palette-primary-900);
}

#diagram_control {
	width: auto;
	height: 450px;
	background-color: var(--joy-palette-primary-100);
}

#diagram_control .e-grid {
	border-radius: 1rem !important;
}

#diagram_control .e-grid,
#diagram_control .e-grid .e-gridheader {
	border: none;
}

.pieChartHeader {
	margin-top: 20px;
	margin-left: 20px;
}

.diagram_border_cus {
	background: var(--joy-palette-primary-100);
	border: 1px solid transparent;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
}

.diagram_chart {
	padding-right: 15px;
	padding-left: 15px;
}

#element_calander .e-input-group:not(.e-success, .e-warning, .e-error, .e-float-icon-left),
#element_calander .e-input-group.e-float-icon-left:not(.e-success, .e-warning, .e-error) .e-input-in-wrap,
#element_calander .e-input-group.e-control-wrapper:not(.e-success, .e-warning, .e-error, .e-float-icon-left) {
	border: none;
}

.diagram_border_cal {
	height: 30px;
	padding-left: 12px;
}

#custom-diagram .e-diagram-resize-handle.e-disabled {
	visibility: hidden;
	opacity: 1;
	fill: #07b379;
	stroke: #fff;
}

.e-diagram {
	border-radius: 1rem !important;
}

.e-diagram .e-ruler {
	font-size: 13px;
	background-color: var(--joy-palette-primary-softBg) !important;
}

.e-diagram .e-ruler-overlap {
	background-color: var(--joy-palette-primary-softBg) !important;
}

.e-diagram .e-diagram-text-edit {
	box-sizing: content-box;
	min-width: 100px;
	font-size: var(--text-xl3);
	color: var(--joy-palette-primary-softColor) !important;
	background: var(--joy-palette-primary-softBg) !important;
	border-color: var(--joy-palette-primary-softColor) !important;
	border-style: dashed;
	border-width: 1px;
}

#stockchartdefault_stock_border {
	border-style: none !important;
}

#stockchartdefault_selector {
	width: 99% !important;
  border-radius: 1rem !important;
  .e-toolbar-item.e-template{
    padding-inline: 1rem !important;
  }
}
.e-dropdown-popup ul .e-item:hover{
  background-color: var(--joy-palette-primary-softColor) !important;
  color: var(--joy-palette-primary-softBg) !important;
}

#stockchartdefault_Secondary_Element_Secondary_Element{
  inset-block-start: 34px !important;
    inset-inline-start: 10px !important;
}
