/* hide  license validation message permanently, from Syncfusion Essential Studio.  */
// body div:not([class]):not([id]):has(img) {
//   display: none;
//   visibility: hidden;
//   width: 0px !important;
//   height: 0px !important;
// }

/* change font family for all components  */
.e-control,
.e-control tspan,
.e-control text,
.e-card,
.e-pane,
.control-pane .e-chart .e-chart * {
	font-family: Inter !important;
}

.e-control.e-rtl,
.e-rtl,
html[dir="rtl"] .e-control,
html[dir="rtl"] .e-control tspan,
html[dir="rtl"] .e-control text,
html[dir="rtl"] .e-card,
html[dir="rtl"] .e-pane,
html[dir="rtl"] .control-pane,
html[dir="rtl"] .e-chart,
html[dir="rtl"] .e-chart * {
	font-family: Cairo !important;
}

/* change font size for all components  */

// .e-control, .e-control [class^='e-'], .e-control [class*=' e-'] {
//     font-size: 1rem;
//   }

/* change focus style  */
.e-focused:not(#defaultRTE) {
	border: none !important;
	outline: 1px solid rgba(var(--joy-palette-primary-mainChannel) / 80%) !important;
	box-shadow: none !important;
}

.e-btn:active {
	background-color: var(--joy-palette-primary-softBg) !important;
}

.e-btn:focus,
.e-selection {
	box-shadow: 0 0 0 1px var(--joy-palette-primary-500), 0 0 0 3px var(--joy-palette-primary-300) !important;
}

.e-radio + label::before {
	border-color: var(--joy-palette-primary-50) !important;
}

.e-radio + label::after {
	background-color: var(--joy-palette-primary-500) !important;
	border-color: var(--joy-palette-primary-300) !important;
}

#_nav {
	color: var(--joy-palette-primary-softColor) !important;
	background-color: var(--joy-palette-primary-softBg) !important;

	&:hover {
	}
}

.e-hscroll .e-scroll-nav{
	background: inherit !important;
	border-color: inherit !important;
}
.e-toolbar {
	background: inherit !important;
	.e-toolbar-items {
		color: var(--joy-palette-primary-softColor) !important;
		background: var(--joy-palette-primary-softBg) !important;
		border-color: var(--joy-palette-primary-300) !important;
		.e-dropdown-btn.e-active,
		.e-tbar-btn.e-active {
			color: var(--joy-palette-primary-softBg) !important;
			background: var(--joy-palette-primary-softColor) !important;

			.e-tbar-btn-text {
				color: var(--joy-palette-primary-softBg) !important;
			}
		}
		.e-tbar-btn,.e-dropdown-btn{
			color: var(--joy-palette-primary-softColor) !important;
			.e-tbar-btn-text{
				color: var(--joy-palette-primary-softColor) !important;

			}

		}
	}
}

.e-daterangepicker.e-popup .e-calendar .e-content .e-range-hover, .e-bigger.e-small .e-daterangepicker.e-popup .e-calendar .e-content .e-range-hover, .e-bigger.e-small.e-daterangepicker.e-popup .e-calendar .e-content .e-range-hover{
			background: var(--joy-palette-background-card) !important;

}
.e-contextmenu,
.e-menu-parent {
	color: var(--joy-palette-primary-softColor) !important;
	background: var(--joy-palette-primary-softBg) !important;
	border-color: var(--joy-palette-primary-300) !important;

	.e-menu-item .e-menu-icon {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-menu-item.e-selected {
		color: var(--joy-palette-primary-softBg) !important;
		background: var(--joy-palette-primary-softColor) !important;
	}

	.e-menu-item.e-focused {
		color: rgba(var(--joy-palette-primary-mainChannel) / 80%) !important;
	}

	.e-menu-item.e-selected .e-icons::before {
		color: var(--joy-palette-primary-softBg) !important;
	}
}

.e-label,
.e-dialog .e-contextmenu-wrapper ul li,
.e-dialog .e-contextmenu-wrapper ul li .e-icons::before,
#gridcomp_searchbutton::before {
	color: var(--joy-palette-primary-softColor) !important;
}

.e-emptyrow {
	color: var(--joy-palette-primary-softColor) !important;
}

/* drop down selector dialog popup */

.e-ddl.e-popup.e-popup-open.e-lib.e-control *,
.e-datetimepicker.e-popup.e-popup-open.e-lib.e-control * {
	color: var(--joy-palette-primary-softColor) !important;
	background-color: var(--joy-palette-primary-softBg) !important;
}

/* context menu in filter popup */
.e-contextmenu-wrapper ul.e-excel-menu.e-lib.e-contextmenu.e-control.e-menu-parent {
	color: var(--joy-palette-primary-50) !important;
	background-color: var(--joy-palette-primary-600) !important;

	.e-menu-item.e-focused {
		color: var(--joy-palette-primary-50) !important;
		background-color: var(--joy-palette-primary-500) !important;
	}

	.e-menu-item .e-menu-icon {
		color: var(--joy-palette-primary-50) !important;
	}

	.e-menu-item.e-separator {
		border-bottom-color: var(--joy-palette-primary-400) !important;
	}
}

.e-tooltip-wrap * {
	color: var(--joy-palette-primary-softColor) !important;
}

.e-popup {
	color: var(--joy-palette-primary-softColor) !important;
	background-color: var(--joy-palette-primary-softBg) !important;

	.e-event-popup .e-popup-header {
		padding-block-end: 1rem !important;
	}

	.e-popup-header {
		background: var(--joy-palette-primary-softBg) !important;
		border-radius: 1rem;

		.e-subject {
			background: var(--joy-palette-primary-700) !important;
		}
	}
}

.e-checkboxlist,
.e-checkbox-wrapper {
	.e-icons {
		color: var(--joy-palette-primary-100) !important;
		background-color: var(--joy-palette-primary-500) !important;
		border-color: var(--joy-palette-primary-500) !important;
	}

	.e-uncheck.e-icons,
	.e-icons:not(.e-check) {
		background-color: transparent !important;
		border-color: var(--joy-palette-primary-50) !important;
	}

	.e-checkboxfiltertext {
		color: var(--joy-palette-primary-50) !important;
	}

	.e-ftrchk.e-chkfocus {
		background-color: var(--joy-palette-primary-500) !important;
	}
}

.e-chips {
	background: var(--joy-palette-primary-400) !important;
	border: 1px solid var(--joy-palette-primary-600) !important;
	border-radius: 1rem !important;

	span,
	span::before {
		color: var(--joy-palette-primary-softBg) !important;
		-webkit-text-fill-color: var(--joy-palette-primary-softColor) !important;
	}
}

.e-float-input *,
.e-input-group * {
	color: var(--joy-palette-primary-softColor) !important;
}

/* header filter popup dialog content line under input animation */
.e-input-group {
	border-color: var(--joy-palette-primary-softColor) !important;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-property: all;

	&.e-input-focus {
		&::before {
			background-color: var(--joy-palette-primary-100) !important;
		}

		&::after {
			background-color: var(--joy-palette-primary-100) !important;
		}

		.e-float-line {
			&::before {
				background-color: var(--joy-palette-primary-100) !important;
			}

			&::after {
				background-color: var(--joy-palette-primary-100) !important;
			}
		}
	}

	&:hover {
		border-color: var(--joy-palette-primary-500) !important;
	}

	input.e-input {
		color: var(--joy-palette-primary-softColor) !important;
	}

	input.e-input::placeholder {
		color: rgba(var(--joy-palette-primary-mainChannel) / 80%) !important;
	}
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
	z-index: 1000000 !important;
}

.e-bigger .e-responsive-dialog.e-rtl .e-btn.e-dlg-closeicon-btn,
.e-bigger.e-responsive-dialog.e-rtl .e-btn.e-dlg-closeicon-btn {
	margin-left: 40px !important;
	padding-left: 0 !important;
}

/*  dialog modal popup */
.e-dialog {
	background-color: var(--joy-palette-primary-softBg) !important;

	.e-dlg-header-content {
		button:hover {
			// background-color: var(--joy-palette-primary-softColor) !important;
		}

		.e-btn-icon {
			color: var(--joy-palette-primary-500) !important;
		}

		.e-dlg-header,
		.e-res-custom-element {
			* {
				color: var(--joy-palette-primary-softColor) !important;
			}

			.e-btn {
				color: inherit !important;
			}

			#gridcompresponsive_filter_dialog_wrapper {
				color: inherit !important;
			}
		}
	}

	#gridcompresponsivesort_dialog-content button {
		color: var(--joy-palette-primary-softBg) !important;
		background: var(--joy-palette-primary-softColor) !important;
		border-color: var(--joy-palette-primary-softBg) !important;
	}

	#gridcompresponsivefilter_dialog-header,
	#gridcompcustomfilter_dialog-header,
	#gridcompresponsivesort_dialog-header,
	#gridcomp_dialogEdit_wrapper_dialog-header {
		color: var(--joy-palette-primary-softColor) !important;
		background: var(--joy-palette-primary-softBg) !important;
		border-color: var(--joy-palette-primary-softColor) !important;
		border-radius: 0 !important;
	}

	.e-dlg-content {
		color: var(--joy-palette-primary-softColor) !important;
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	.e-dlg-header {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-xlfl-optrdiv .e-input-group {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-footer-content .e-btn {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-footer-content .e-btn:focus {
		border-color: var(--joy-palette-primary-softColor) !important;
		box-shadow: var(--joy-shadow-sm) !important;
	}
}

.e-responsive-dialog {
	.e-dlg-header-content {
		background-color: var(--joy-palette-primary-softBg) !important;
		border-color: var(--joy-palette-primary-softColor) !important;
		border-radius: 0 !important;
	}

	.e-dlg-content {
		color: var(--joy-palette-primary-softColor) !important;
		background-color: var(--joy-palette-primary-softBg) !important;

		button {
			color: var(--joy-palette-primary-softBg) !important;
			background-color: var(--joy-palette-primary-softColor) !important;
		}
	}
}

.e-search-icon {
	color: var(--joy-palette-primary-softColor) !important;
}

.Summary_wrapper .e-field {
	padding: 0.5rem;
	color: var(--joy-palette-primary-softColor) !important;
	border-color: var(--joy-palette-primary-softColor) !important;
	border-radius: 0.25rem;
}

.e-daterangepicker.e-popup .e-range-header,
.e-bigger.e-small .e-daterangepicker.e-popup .e-range-header {
	background: none !important;
}

.e-daterangepicker.e-popup .e-footer,
.e-bigger.e-small .e-daterangepicker.e-popup .e-footer,
.e-bigger.e-small.e-daterangepicker.e-popup .e-footer {
	background: none !important;
}

.e-daterangepicker.e-popup .e-footer .e-btn,
.e-bigger.e-small .e-daterangepicker.e-popup .e-footer .e-btn {
	color: var(--joy-palette-primary-softBg) !important;
	background-color: var(--joy-palette-primary-softColor) !important;
}

.e-daterangepicker.e-popup .e-start-label,
.e-daterangepicker.e-popup .e-end-label,
.e-bigger.e-small .e-daterangepicker.e-popup .e-start-label,
.e-bigger.e-small .e-daterangepicker.e-popup .e-end-label,
.e-bigger.e-small.e-daterangepicker.e-popup .e-start-label,
.e-bigger.e-small.e-daterangepicker.e-popup .e-end-label,
.e-daterangepicker.e-popup .e-change-icon,
.e-bigger.e-small .e-daterangepicker.e-popup .e-change-icon,
.e-bigger.e-small.e-daterangepicker.e-popup .e-change-icon,
.e-daterangepicker.e-popup .e-day-span,
.e-bigger.e-small .e-daterangepicker.e-popup .e-day-span,
.e-bigger.e-small.e-daterangepicker.e-popup .e-day-span,
.e-daterangepicker.e-popup .e-presets,
.e-bigger.e-small .e-daterangepicker.e-popup .e-presets,
.e-bigger.e-small.e-daterangepicker.e-popup .e-presets {
	color: inherit !important;
}

.e-daterangepicker.e-popup .e-presets .e-list-item.e-hover,
.e-bigger.e-small .e-daterangepicker.e-popup .e-presets .e-list-item.e-hover {
	color: inherit !important;
	opacity: 0.5 !important;
}

.e-daterangepicker.e-popup .e-presets .e-list-item.e-active,
.e-bigger.e-small .e-daterangepicker.e-popup .e-presets .e-list-item.e-active,
.e-bigger.e-small.e-daterangepicker.e-popup .e-presets .e-list-item.e-active {
	color: var(--joy-palette-primary-softBg) !important;
	background-color: var(--joy-palette-primary-softColor) !important;
}



.e-bigger .e-daterangepicker .e-start-btn.e-active, .e-bigger .e-daterangepicker .e-start-btn.e-active:active, .e-bigger .e-daterangepicker .e-end-btn.e-active, .e-bigger .e-daterangepicker .e-end-btn.e-active:active:not([disabled]), .e-bigger .e-daterangepicker .e-start-btn.e-active:hover, .e-bigger .e-daterangepicker .e-end-btn.e-active:hover, *.e-bigger.e-daterangepicker .e-start-btn.e-active, *.e-bigger.e-daterangepicker .e-start-btn.e-active:active, *.e-bigger.e-daterangepicker .e-end-btn.e-active, *.e-bigger.e-daterangepicker .e-end-btn.e-active:active:not([disabled]), *.e-bigger.e-daterangepicker .e-start-btn.e-active:hover, *.e-bigger.e-daterangepicker .e-end-btn.e-active:hover, *.e-device.e-daterangepicker .e-start-btn.e-active, *.e-device.e-daterangepicker .e-start-btn.e-active:active, *.e-device.e-daterangepicker .e-end-btn.e-active, *.e-device.e-daterangepicker .e-end-btn.e-active:active:not([disabled]), *.e-device.e-daterangepicker .e-start-btn.e-active:hover, *.e-device.e-daterangepicker .e-end-btn.e-active:hover{

	background: var(--joy-palette-primary-softColor) !important;
	color: var(--joy-palette-primary-softBg) !important;

}

.e-bigger .e-daterangepicker .e-start-btn, .e-bigger .e-daterangepicker .e-end-btn, *.e-bigger.e-daterangepicker .e-start-btn, *.e-bigger.e-daterangepicker .e-end-btn, *.e-device.e-daterangepicker .e-start-btn, *.e-device.e-daterangepicker .e-end-btn{
	background: var(--joy-palette-primary-softBg) !important;
	color: var(--joy-palette-primary-softColor) !important;
}

.e-bigger .e-daterangepicker.e-popup .e-range-header .e-start-end .e-start-btn, .e-bigger .e-daterangepicker.e-popup .e-range-header .e-start-end .e-end-btn, *.e-bigger.e-daterangepicker.e-popup .e-range-header .e-start-end .e-start-btn, *.e-bigger.e-daterangepicker.e-popup .e-range-header .e-start-end .e-end-btn, *.e-device.e-daterangepicker.e-popup .e-range-header .e-start-end .e-start-btn, *.e-device.e-daterangepicker.e-popup .e-range-header .e-start-end .e-end-btn{
	border-color : var(--joy-palette-primary-softColor) !important;
}
