/* hide  license validation message permanently, from Syncfusion Essential Studio.  */
// body div:not([class]):not([id]):has(img) {
//   display: none;
//   visibility: hidden;
//   width: 0px !important;
//   height: 0px !important;
// }

/* change font family for all components  */
// .e-control {
//   font-family: Arial !important;
// }
/* change font size for all components  */

// .e-control, .e-control [class^='e-'], .e-control [class*=' e-'] {
//     font-size: 1rem;
//   }


.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}


.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}



/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}
