/* hide  license validation message permanently, from Syncfusion Essential Studio.  */
// body div:not([class]):not([id]):has(img) {
//   display: none;
//   visibility: hidden;
//   width: 0px !important;
//   height: 0px !important;
// }

/* change font family for all components  */
// .e-control {
//   font-family: Arial !important;
// }

/* change font size for all components  */

// .e-control, .e-control [class^='e-'], .e-control [class*=' e-'] {
//     font-size: 1rem;
//   }

/* change focus style  */
.e-focused{
	border: 1px solid rgba(var(--joy-palette-primary-mainChannel) / 80%) !important;
	outline: none !important;
	box-shadow: none !important;
}
/* drop down selector dialog popup */

.e-ddl.e-popup.e-popup-open.e-lib.e-control  *{
	background-color: var(--joy-palette-primary-softBg) !important;
			color: var(--joy-palette-primary-softColor) !important;

}

/* context menu in filter popup */
.e-contextmenu-wrapper ul.e-excel-menu.e-lib.e-contextmenu.e-control.e-menu-parent {
	color: var(--joy-palette-primary-50) !important;
	background-color: var(--joy-palette-primary-600) !important;

	.e-menu-item.e-focused {
		color: var(--joy-palette-primary-50) !important;
		background-color: var(--joy-palette-primary-500) !important;
	}

	.e-menu-item .e-menu-icon {
		color: var(--joy-palette-primary-50) !important;
	}

	.e-menu-item.e-separator {
		border-bottom-color: var(--joy-palette-primary-400) !important;
	}
}



.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
	z-index: 1000000 !important;
}
/*  dialog modal popup */
.e-dialog {
	background-color: var(--joy-palette-primary-softBg) !important;

	.e-dlg-header-content {
		button:hover {
			// background-color: var(--joy-palette-primary-softColor) !important;
		}

		.e-btn-icon {
			color: var(--joy-palette-primary-500) !important;
		}

		.e-dlg-header {
			color: var(--joy-palette-primary-softColor) !important;
		}
	}

	.e-dlg-content {
		color: var(--joy-palette-primary-softColor) !important;
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	.e-xlfl-optrdiv .e-input-group {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-footer-content .e-btn {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-footer-content .e-btn:focus {
		border-color: var(--joy-palette-primary-softColor) !important;
		box-shadow: var(--joy-shadow-sm) !important;
	}
}
