/* --------------------------- data grid ------------------------------  */

// * grid header */
.e-grid {
	// overflow: hidden !important;
	border-color: var(--joy-palette-primary-softColor) !important;
	border-style: solid !important;
	border-width: 1px !important;
	border-radius: 1rem !important;


	/* header filter popup dialog content */
	.e-dialog {
		color: var(--joy-palette-primary-50) !important;
		background-color: var(--joy-palette-primary-600) !important;
	}

	.e-dlg-content {
		color: var(--joy-palette-primary-50) !important;
		background-color: var(--joy-palette-primary-600) !important;


		/* header filter popup dialog search/cancel icon */
		.e-searchbox .e-icons {
			color: var(--joy-palette-primary-100) !important;
		}

		/* header filter popup dialog checkbox list */
	}

	/* header div */
	.e-table {
		overflow: hidden !important;
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	.e-gridheader {
		border-color: var(--joy-palette-primary-softColor) !important;
		border-top-width: 0 !important;
		border-bottom-width: 1px !important;
		border-inline-width: 0 !important;

		// border-top-left-radius: 1rem !important;
		// border-top-right-radius: 1rem !important;
	}

	.e-headercell {
		color: var(--joy-palette-primary-softColor) !important;
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	/* rowcell borders and  text color */
	.e-rowcell,
	.e-groupcaption,
	.e-indentcell,
	.e-recordplusexpand,
	.e-recordpluscollapse,
	.e-rowdragdropcell,
	.e-detailrowcollapse,
	.e-detailrowexpand,
	.e-detailindentcell,
	.e-detailcell {
		color: var(--joy-palette-primary-softColor) !important;
		border-color: var(--joy-palette-primary-600) !important;
	}

	.e-row[aria-selected="true"],
	td.e-active {
		background-color: var(--joy-palette-primary-700) !important;
	}


	// /* toolbar  */
	.e-toolbar{
		border-top-left-radius: 1rem !important;
		border-top-right-radius: 1rem !important;
		border-width: 0 !important;
	}
	&.no-toolbar .e-gridheader  {
		border-top-left-radius: 1rem !important;
		border-top-right-radius: 1rem !important;
	}
	&.no-toolbar .e-toolbar.e-res-toolbar ~  .e-gridheader  {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}

	.e-toolbar,
	.e-toolbar-items {
		background: var(--joy-palette-primary-softBg) !important;
	}

	.e-toolbar .e-btn:active {
		background-color: var(--joy-palette-primary-500) !important;
		border-color: var(--joy-palette-primary-500) !important;
		box-shadow: var(--joy-shadow-sm) !important;
	}

	.e-toolbar .e-tbar-btn:focus {
		box-shadow: var(--joy-shadow-sm) !important;
	}

	.e-toolbar .e-btn-icon,
	.e-toolbar .e-tbar-btn-text {
		color: var(--joy-palette-primary-softColor) !important;
	}

	/* header text content. */
	.e-headercelldiv {
		font-size: var(--joy-fontSize-lg) !important;
	}

	/* header text color. when sorting is active  */
	th.e-headercell[aria-sort="ascending"] .e-headertext,
	th.e-headercell[aria-sort="descending"] .e-headertext,
	th.e-headercell[aria-sort="ascending"] .e-sortfilterdiv,
	th.e-headercell[aria-sort="descending"] .e-sortfilterdiv {
		color: var(--joy-palette-primary-400) !important;
	}

	/* header sorting icon */
	.e-icon-ascending {
		color: var(--joy-palette-primary-400) !important;
	}

	/* header filter icon */
	.e-filtermenudiv {
		color: var(--joy-palette-primary-50) !important;
	}

	.e-filtermenudiv.e-filtered::before {
		color: var(--joy-palette-primary-400) !important;
	}

	/* header multi sorting number icon */
	.e-sortnumber {
		color: var(--joy-palette-primary-50) !important;
		background-color: var(--joy-palette-primary-600) !important;
	}

	.e-editedrow table,
	.e-addedrow table {
		background-color: var(--joy-palette-primary-softColor) !important;

		.e-input-group {
			color: var(--joy-palette-primary-softBg) !important;
		}

		.e-input-group-icon {
			color: var(--joy-palette-primary-softBg) !important;
		}
	}

	.e-input.e-search,
	.e-input.e-search::placeholder {
		color: var(--joy-palette-primary-50) !important;
	}

	.e-edit::before,
	.e-delete::before {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-update::before,
	.e-cancel-icon::before {
		color: var(--joy-palette-primary-softColor) !important;
	}

	/* header filterbarcell type input */
	.e-filterbarcell {
		color: red !important;
		background-color: red !important;

		.e-input-group input.e-input {
			color: red !important;
			background-color: red !important;
		}

		.e-input-group.e-input-focus::after,
		.e-input-group.e-input-focus::before {
			background-color: red !important;
		}
	}

	/* header filter popup dialog header */
	.e-filter-popup {
		overflow: hidden;
		.e-contextmenu-wrapper ul {
			color: var(--joy-palette-primary-50) !important;
			background-color: var(--joy-palette-primary-600) !important;

			.e-separator {
				border-bottom-color: var(--joy-palette-primary-400) !important;
			}

			.e-menu-item {
				color: var(--joy-palette-primary-50) !important;
			}

			.e-menu-item.e-selected,
			.e-menu-item.e-focused {
				background-color: var(--joy-palette-primary-500) !important;
			}

			.e-menu-icon,
			.e-submenu .e-icons {
				color: var(--joy-palette-primary-50) !important;
			}

			.e-menu-icon.e-filtered::before {
				color: var(--joy-palette-primary-400) !important;
			}

			.e-disabled .e-menu-icon {
				color: var(--joy-palette-primary-700) !important;
			}
		}

		.e-contextmenu-container ul .e-menu-item.e-selected {
			background-color: var(--joy-palette-primary-500) !important;
		}

		/* header filter popup dialog footer */
		.e-footer-content {
			background-color: var(--joy-palette-primary-700) !important;

			.e-btn.e-primary.e-flat:not([DISABLED]):focus-visible,
			.e-btn.e-primary.e-flat:not([DISABLED]):focus,
			.e-btn.e-primary.e-flat:not([DISABLED]):focus,
			.e-btn.e-flat:not([DISABLED]):focus-visible {
				border-color: var(--joy-palette-primary-100) !important;
				box-shadow: var(--joy-shadow-sm) !important;
			}
		}

		/* header filter popup dialog input & button */
		.e-btn {
			color: var(--joy-palette-primary-50) !important;
		}


	}
}

// * grid footer */

/* Grid pager root element */
.e-grid .e-gridpager {
	background-color: var(--joy-palette-primary-softBg) !important;
	border-color: var(--joy-palette-primary-softColor) !important;
	border-top-width: 1px !important;
	border-bottom-width: 1px !important;
	border-inline-width: 0 !important;
	border-radius: 0 0 1rem 1rem !important;
}

/* Grid pager container element */
.e-grid .e-pagercontainer {
	background-color: var(--joy-palette-primary-softBg) !important;
}

/* Grid pager navigation icons elements */
.e-grid .e-gridpager .e-prevpagedisabled,
.e-grid .e-gridpager .e-prevpage,
.e-grid .e-gridpager .e-nextpage,
.e-grid .e-gridpager .e-nextpagedisabled,
.e-grid .e-gridpager .e-lastpagedisabled,
.e-grid .e-gridpager .e-lastpage,
.e-grid .e-gridpager .e-firstpage,
.e-grid .e-gridpager .e-firstpagedisabled {
	color: var(--joy-palette-primary-softColor) !important;
	background-color: var(--joy-palette-primary-softBg) !important;
}

.e-grid .e-gridpager .e-prevpagedisabled,
.e-grid .e-gridpager .e-nextpagedisabled,
.e-grid .e-gridpager .e-lastpagedisabled,
.e-grid .e-gridpager .e-firstpagedisabled {
	color: var(--joy-palette-primary-600) !important;
	background-color: var(--joy-palette-primary-softBg) !important;
}

/* Grid pager page numeric link elements */
.e-grid .e-gridpager .e-numericitem {
	// border-radius: 50% !important;
	color: var(--joy-palette-primary-900) !important;
	background-color: var(--joy-palette-primary-softColor) !important;
}

.e-pager .e-spacing,
.e-pager .e-numericitem:hover,
.e-pager .e-currentitem {
	cursor: pointer;
	margin: 0.1rem;
	padding: 6px 12px;
	text-decoration: none;
	border-radius: 4px;
}

/* pager current page numeric element */

.e-grid .e-gridpager .e-currentitem {
	color: var(--joy-palette-primary-100) !important;
	background-color: var(--joy-palette-primary-500) !important;
	border-width: 0 !important;
}

.e-grid .e-gridpager .e-numericitem:focus .e-grid .e-gridpager .e-numericitem:active .e-grid .e-gridpager .e-numericitem .e-focus,
.e-grid .e-gridpager .e-numericitem .e-focused,
.e-grid .e-gridpager .e-numericitem .e-active,
.e-grid .e-gridpager .e-numericitem:focus-within,
.e-grid .e-gridpager .e-numericitem:focus-visible {
	border-color: var(--joy-palette-primary-500) !important;
	outline: none !important;
	box-shadow: none !important;
}

/* pager messagebar (status in right bottom of the grid table) */

.e-grid .e-gridpager .e-parentmsgbar {
	color: var(--joy-palette-primary-300) !important;
}

