.e-kanban {
	background-color: var(--joy-palette-primary-900) !important;
	border: 1px solid var(--joy-palette-primary-softColor) !important ;
	border-radius: 1rem;

	.e-kanban-table {
		color: var(--joy-palette-primary-softColor) !important;
		background-color: var(--joy-palette-primary-softBg) !important;

		// border-bottom-left-radius: 1rem;
		// border-top-right-radius: 1rem;

		&.e-header-table {
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
		}

		&.e-content-table {
			border-bottom-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
		}
	}

	.e-kanban-header .e-header-cells {
		color: var(--joy-palette-primary-softColor) !important;
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	.e-kanban-header .e-header-icon {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-kanban-header .e-header-icon:hover {
		box-shadow: 0 0 0 1px var(--joy-palette-primary-500), 0 0 0 3px var(--joy-palette-primary-300) !important;
	}
	.e-kanban-header .e-header-icon:focus {
		box-shadow: 0 0 0 1px var(--joy-palette-primary-500), 0 0 0 3px var(--joy-palette-primary-300) !important;
	}
    .e-swimlane-header .e-icons:hover,
    .e-swimlane-header .e-icons:focus{
		box-shadow: 0 0 0 1px var(--joy-palette-primary-500), 0 0 0 3px var(--joy-palette-primary-300) !important;

    }

	.e-content-cells:focus {
		box-shadow: 0 0 0 1px var(--joy-palette-primary-500), 0 0 0 3px var(--joy-palette-primary-300) !important;
	}

	.e-content-cells * {
		color: var(--joy-palette-primary-softColor) !important;
	}

	.e-content-row .e-content-cells.e-droppable {
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	.e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.e-draggable {
		background-color: var(--joy-palette-primary-900) !important;
	}

	.e-content-cells .e-card-wrapper .e-target-dragged-clone,
	.e-content-cells .e-card-container .e-target-dragged-clone {
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	.e-content-cells .e-card-wrapper .e-target-dropped-clone,
	.e-content-cells .e-card-container .e-target-dropped-clone {
		background-color: var(--joy-palette-primary-900) !important;
		border-color: var(--joy-palette-primary-300) !important;
	}

	.e-card {
		border-width: 0 !important;

		.card-template:hover {
			box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%) !important;
		}

		.e-card-tag-field {
			margin-right: 5px;
			padding: 4px;
			font-size: 13px;
			line-height: 1.1;
			color: var(--joy-palette-primary-softColor) !important;
			background: var(--joy-palette-primary-400) !important;
			border: 1px solid var(--joy-palette-primary-600) !important;
			border-radius: 1rem !important;
		}

		.e-card-custom-footer {
			display: flex;
			height: 35px;
			padding: 0 12px 12px;
			line-height: 1;
		}

		.e-card-avatar {
			position: absolute;
			right: 12px;
			bottom: 10px;
			width: 30px;
			height: 30px;
			padding: 10px 0 0 1px;
			font-size: 12px;
			font-weight: 400;
			color: var(--joy-palette-primary-softColor) !important;
			text-align: center;
			background: var(--joy-palette-neutral-700) !important;
			border-radius: 50%;
		}
	}
}

.kanban-overview.e-kanban .header-template-wrap {
	display: inline-flex;
	font-size: 15px;
	font-weight: 500;
}

.kanban-overview.e-kanban .header-template-wrap .header-icon {
	width: 10%;
	margin-top: 3px;
}


.kanban-overview.e-kanban .header-template-wrap .header-text {
	margin-left: 15px;
}

.kanban-overview.e-kanban.e-rtl .header-template-wrap .header-text {
	margin-right: 15px;
}

.kanban-overview.e-kanban.e-rtl .e-card-avatar {
	right: auto;
	left: 12px;
}



.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Low.e-selection:hover,
.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Low,
.kanban-overview.e-kanban.e-rtl .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Low {
	border-left: 3px solid #1f88e5 !important ;
}

.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.High.e-selection:hover,
.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.High,
.kanban-overview.e-kanban.e-rtl .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.High {
	border-left: 3px solid #673ab8 !important;
}

.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Normal.e-selection:hover,
.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Normal,
.kanban-overview.e-kanban.e-rtl .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Normal {
	border-left: 3px solid #02897b !important;
}

.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Critical.e-selection:hover,
.kanban-overview.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Critical,
.kanban-overview.e-kanban.e-rtl .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.Critical {
	border-left: 3px solid #e64a19 !important;
}

.kanban-overview.e-kanban.e-rtl .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card {
	border-left: none !important;
}
