.e-schedule * {
	color: inherit !important;
	border-color: var(--joy-palette-primary-600) !important ;
}

.e-schedule {
	color: var(--joy-palette-primary-softColor) !important;
	background-color: var(--joy-palette-primary-softBg) !important;
	border-color: var(--joy-palette-primary-softColor) !important ;
	border-radius: 1rem;

	.e-appointment {
		color: var(--joy-palette-neutral-700) !important;
	}

	.e-month-view {
		//     color: var(--joy-palette-neutral-700) !important;
		//     background-color: var(--joy-palette-primary-500) !important;
		.e-appointment .e-appointment-details {
			padding: 1px;
			padding-left: 3px;
		}
	}

	.e-table-container {
		td {
			background-color: var(--joy-palette-primary-softBg) !important;
		}

		.e-selected-cell {
			background: var(--joy-palette-primary-900) !important;
		}

		.e-work-cells:hover {
			background: var(--joy-palette-primary-800) !important;
		}
	}

	.e-toolbar-items {
		background-color: var(--joy-palette-primary-softBg) !important;
	}

	.e-vertical-view .e-resource-cells {
		height: 62px;
	}

	.template-wrap {
		display: flex;
		text-align: left;
	}

	.template-wrap .resource-image {
		width: 45px;
		height: 45px;
		margin-inline-end: 2rem;
		background-repeat: no-repeat;
		background-size: 45px;
		border-radius: 50%;
	}

	.template-wrap .resource-details {
		padding-left: 10px;
	}

	.template-wrap .resource-details .resource-name {
		padding-right: 10px;
		font-size: 16px;
		font-weight: 500;
	}

	.template-wrap .resource-details .resource-designation {
		font-size: 12px;
	}
}

.e-schedule.e-device .template-wrap .resource-details .resource-name {
	padding-top: 5px;
	font-size: inherit;
	font-weight: inherit;
}

.e-schedule.e-device .e-resource-tree-popup .e-fullrow {
	height: 50px;
}

.e-schedule.e-device .template-wrap .resource-details .resource-designation {
	display: none;
}

.e-schedule .template-wrap .resource-image.one {
	background-image: url("https://i.imgur.com/2SRgVVb.png");
}

.e-schedule .template-wrap .resource-image.two {
	background-image: url("https://i.imgur.com/bY9kOqs.png");
}

.e-schedule .template-wrap .resource-image.three {
	background-image: url("https://i.imgur.com/X4b7bGf.png");
}


.e-treeview .e-fullrow{
	    height: fit-content !important;
}

.e-schedule .e-schedule-resource-toolbar{
		background: var(--joy-palette-primary-softBg) !important;

}

.e-schedule-resource-toolbar .e-resource-menu{
	    cursor: pointer;
}
