@use "../abstracts" as *;

// #sheetBg {
// 	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 800' opacity='0.8'%3E%3Cdefs%3E%3Cfilter id='bbblurry-filter' x='-100%25' y='-100%25' width='400%25' height='400%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='63' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' edgeMode='none' result='blur'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23bbblurry-filter)'%3E%3Cellipse rx='116' ry='135.5' cx='144.87881738159683' cy='-51.41211597085771' fill='hsl(37, 99%25, 67%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='61.7842351275018' cy='542.4782224247185' fill='hsl(316, 73%25, 52%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='388.1004943847656' cy='401.0468444824219' fill='hsl(185, 100%25, 57%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='685.3463251562432' cy='734.0314054840742' fill='hsl(182, 100%25, 67%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='708.6031671709497' cy='-37.69216600477023' fill='hsl(58, 100%25, 71%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='862.7741759114549' cy='321.918907008468' fill='hsl(325, 100%25, 63%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='18.17140486640284' cy='341.57078622368516' fill='hsl(208, 100%25, 86%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='268.30713089301696' cy='888.15172762071' fill='hsl(286, 100%25, 68%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='504.45758096815155' cy='878.8352250336314' fill='hsl(325, 100%25, 63%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='284.2690156431745' cy='439.9378643154572' fill='hsl(152, 100%25, 70%25)'%3E%3C/ellipse%3E%3Cellipse rx='116' ry='135.5' cx='412.2942459048097' cy='-63.048904733063864' fill='hsl(25, 100%25, 64%25)'%3E%3C/ellipse%3E%3C/g%3E%3C/svg%3E") ,  var(--joy-palette-primary-softBg) !important;
//     background-repeat: no-repeat !important;
//     background-size: cover !important;
// }

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-10%);
		animation-timing-function: cubic-bezier(0.83, -0.04, 0.25, 1.19);
	}

	50% {
		transform: translateY(5%);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

@keyframes rock {
	0%,
	100% {
		animation-timing-function: linear;
	}

	50% {
		transform: translateY(7%);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

@keyframes glow {
	from {
		text-shadow: 0 0 20px var(--joy-palette-primary-100);
	}

	to {
		text-shadow: 0 0 30px var(--joy-palette-primary-200), 0 0 10px var(--joy-palette-primary-300);
	}
}

#rocket {
	&_fire {
		animation: bounce 1s infinite;
	}

	&_shape {
		animation: rock 1.5s infinite;
	}

	&_head {
		animation: rock 1.5s infinite;
	}
}

// .text-animate{
//  -webkit-text-fill-color: transparent;
// //   background-image: url(https://media.giphy.com/media/9JxkPTP3alOykb8PmQ/source.gif);
// //   background-image: url(https://media.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif);
// //   background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaDloZzMxa2xzbDU3bzc0MXk4Z2N3M2gzeXhwdnRpZm1mYW9nMGY5ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2RgN7WUjeUUXm0/giphy.gif);
// //   background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjI1MzA3eXF6Z3B5eG9kY24yemk4dzJ3cGtudTltMHoyZDNiZzBsNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U3qYN8S0j3bpK/giphy.gif);
// //   background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXVneWhvY2VjZ2w1dzA4ZmF5b2Jjbnk2YWQxMmEyOGI4M2Jib2k2ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ohs7RWixV9PpQt5eg/giphy.gif);
// //   background-image: url(https://media.giphy.com/media/7XDEXpdrqmRzpYB5eR/giphy.gif);
//   background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWx3ZjZ2dGsyejlmZXh3NmZzZTM5NHQxejlzM2VmbThlZWw0NGdybiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ov9k1173PdfJWRsoE/giphy.gif);
//   background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTNzNm02ZG9sNzFzNXBxNXp3d204bmhtNW8wOGd4OTFkM3R5bGZ5MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1zkaZ0D8FvyXWVyyel/giphy.gif);
//   background-clip: text;
//   -webkit-background-clip: text;
//   background-size: 200% 200%;
// }

.text-animate {
	margin: 10px 0;
	font-size: 120px;
	color: transparent;
	text-transform: uppercase;
	background-image: url("https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif");
	background-clip: text;
	background-clip: text;
	background-clip: text;
	background-size: cover;
	-webkit-text-fill-color: transparent;
}

// .text-animate {
//      font-family: "Bebas Neue", Arial Helvetica, serif;
//     font-size: 20vmin;
//     -webkit-text-stroke: 0px #0000004f;
//     -webkit-text-fill-color: #ffffff1c;
//     text-shadow: -3px -3px 3px #00000040;
//     background-repeat: repeat;
//     background-position: center center;
//     background-size: contain;
//     -webkit-text-fill-color: #002e422e;
//     -webkit-background-clip: text;
//     letter-spacing: 1px;
//     display: inline-flex;
//     width: 50vw;
//     height: 38vh;
//     text-align: center;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     background-image: url(https://i.makeagif.com/media/1-10-2018/4oMeP9.gif);
//     -webkit-text-fill-color: #00e2ff5c;
// }

// .text-animate {
//      font-family: "Bebas Neue", Arial Helvetica, serif;
//     font-size: 20vmin;
//     -webkit-text-stroke: 0px #0000004f;
//     -webkit-text-fill-color: #ffffff1c;
//     text-shadow: -3px -3px 3px #00000040;
//     background-repeat: repeat;
//     background-position: center center;
//     background-size: contain;
//     -webkit-text-fill-color: #002e422e;
//     -webkit-background-clip: text;
//     letter-spacing: 1px;
//     display: inline-flex;
//     width: 50vw;
//     height: 38vh;
//     text-align: center;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     background-image: url(https://c.tenor.com/5RKB-LuSHb0AAAAC/fire.gif);
//     -webkit-text-fill-color: #cd0e0054;
// }

// .text-animate {
//      font-family: "Bebas Neue", Arial Helvetica, serif;
//     font-size: 20vmin;
//     -webkit-text-stroke: 0px #0000004f;
//     -webkit-text-fill-color: #ffffff1c;
//     text-shadow: -3px -3px 3px #00000040;
//     background-repeat: repeat;
//     background-position: center center;
//     background-size: contain;
//     -webkit-text-fill-color: #002e422e;
//     -webkit-background-clip: text;
//     letter-spacing: 1px;
//     display: inline-flex;
//     width: 50vw;
//     height: 38vh;
//     text-align: center;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     background-image: url(https://i.pinimg.com/originals/5c/c0/d7/5cc0d7bd98a28bdcd8d0916e5db7bd7e.gif);
//     -webkit-text-fill-color: #00189d33;
//     text-shadow: -3px -3px 10px #4027b030, 3px 3px 10px #00080c42,
//         0px 0px 10px #00000080;
// }

// .text-animate {
//      font-family: "Bebas Neue", Arial Helvetica, serif;
//     font-size: 20vmin;
//     -webkit-text-stroke: 0px #0000004f;
//     -webkit-text-fill-color: #ffffff1c;
//     text-shadow: -3px -3px 3px #00000040;
//     background-repeat: repeat;
//     background-position: center center;
//     background-size: contain;
//     -webkit-text-fill-color: #002e422e;
//     -webkit-background-clip: text;
//     letter-spacing: 1px;
//     display: inline-flex;
//     width: 50vw;
//     height: 38vh;
//     text-align: center;
//     align-items: center;
//     justify-content: center;
//     font-weight: bold;
//     background-image: url(https://c.tenor.com/4rSybJ_qYGsAAAAC/snow.gif);
//     -webkit-text-fill-color: #00000042;
//     text-shadow: -3px -3px 10px #ffffff0d;
// }

// .text-animate {
//     width: 100vw;
//     height: 24vh;
//     background-image: url(https://c.tenor.com/OPMJAHXKIU0AAAAd/looking-water.gif);
//     -webkit-text-fill-color: #9c27b026;
//     text-shadow: -3px -3px 10px #9c27b030, 3px 3px 10px #0000004f;
// }

// .container {
//   max-width: $page-width; /* 1 */
//   margin-left: auto; /* 2 */
//   margin-right: auto; /* 2 */
//   padding-left: 20px; /* 3 */
//   padding-right: 20px; /* 3 */
//   width: 100%; /* 1 */
// }
