@use "../abstracts" as *;


// .container {
//   max-width: $page-width; /* 1 */
//   margin-left: auto; /* 2 */
//   margin-right: auto; /* 2 */
//   padding-left: 20px; /* 3 */
//   padding-right: 20px; /* 3 */
//   width: 100%; /* 1 */
// }

